@font-face {
    font-family: MySopraFontRegular;
    src: url(/css/fonts/soprasteria.woff) format('woff');
    font-style: normal;
    font-weight: 400
}

@font-face {
    font-family: MySopraFontBold;
    src: url(/css/fonts/soprasteria.woff) format('woff');
    font-style: normal;
    font-weight: 700
}

@font-face {
    font-family: MySopraFontRegularItalic;
    src: url(/css/fonts/soprasteria.woff) format('woff');
    font-style: italic;
    font-weight: 400
}

@font-face {
    font-family: MySopraFontBoldItalic;
    src: url(/css/fonts/soprasteria.woff) format('woff');
    font-style: italic;
    font-weight: 700
}